@mixin button-bg($bg) {
  background: $bg;
  border: 1px solid $bg;

  &:hover {
    background: darken($bg, 8%);
    transition: all 0.3s ease;
  }
  &:active {
    background: darken($bg, 25%);
  }
}

.type-filter__container {
  display: flex;
  justify-content: space-between;
  max-width: 350px;
  width: 100%;

  .type-filter__select {
    min-width: 230px;
    text-transform: capitalize;

    .type-filter-prefix__select__value-container {
      max-width: 230px;
      overflow-y: auto !important;
      height: 50px;
      width: 100%;
    }
  }

  .type-filter-button__block {
    display: flex;
    align-items: center;

    .type-filter__button {
      color: white;
      cursor: pointer;
      font-size: 14px;
      padding: 5px 10px;
      border-radius: 3px;
      @include button-bg(#3498db);

      &:focus {
        outline: 0;
      }
    }
  }
}

@media (max-width: 992px) {
  .type-filter__container {
    margin-bottom: 15px;
  }
}
